<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestion_Alquiler_Canchas.Properties.Settings.Alquiler_CanchasConnectionString"
            connectionString="Data Source=PC-KIKE;Initial Catalog=Alquiler_Canchas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>